<plugin name='xml-forms' version='0.1' grailsVersion='2.0 &gt; *'>
  <author>Joost Horward</author>
  <authorEmail>joost@open-t.nl</authorEmail>
  <title>XML forms</title>
  <description>XML forms plugin for Grails</description>
  <type>XmlFormsGrailsPlugin</type>
  <resources>
    <resource>FormsResources</resource>
    <resource>org.open_t.forms.FormService</resource>
    <resource>org.open_t.forms.FormTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.2.4' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>